.catalog-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
}

.catalog-item{
    border: 1px solid black;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button{
    padding: 5px 15px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.table-container{
    display: grid;
    grid-template-columns: 100px 200px 300px 200px 100px;
    border: 1px solid black;
}

.report-table-container{
    display: grid;
    grid-template-columns: 200px 200px 300px 200px 100px 100px;
    border: 1px solid black;
}

.simulation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.table-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-handle{
    display: flex;
    flex-direction: column;
    gap: 20px;
}